/* variables */
:root {
  --white: #f9f9f9;
  --purple: #341572;
  --gray: #85888C;
  --blue: rgb(2, 70, 255);
}
/* global settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  background-color: #190b35;
  background-size: cover;
  color: white;
}
body {
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 70%;
}
main {
  color: white;
  margin: auto;
}
a {
  text-decoration: none;
  color: var(--white);
}
ul {
  list-style: none;
}


/* title, image and nav starts here */
/* header */
.header {
  background-color: var(--purple);
  position: sticky;
  top: 0;
  width: 100%;
}
/* Logo */
.logo {
color: var(--white);
font-size: 60px;
margin-left: 10px;
padding-bottom: 20px;
}
.logo img {
margin-right: 15px;
margin-top: 30px;
width: 80px;
}
/* nav menu */
.nav {
  width: 70%;
  position: fixed;
  background-color: var(--purple);
  overflow: hidden;
}
.menu a {
  display: block;
  padding: 15px 15px;
  color: var(--white);
  font-size: 20px;
}
.menu a:hover {
  background-color: var(--blue);
}
.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}
.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}
.side-menu {
  display: none;
} 
/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}
/* title, image and nav ends here */

/* main section starts here */
.portfolio {
  font-size: 50px;
  border-bottom: 5px solid var(--purple);
  padding: 20px 0;
  background-image: url("/my-images/site-background.jpg");
  background-size: cover;
  height: 300px;
}

/* about me section starts here */
.page-section {
  margin: 30px 0;
}
.page-section h2 {
  font-size: 50px;
}
#about p {
  font-size: 25px;
  padding-bottom: 30px;
  border-bottom: 5px solid var(--purple);
}
/* about me section ends here */

/* portfolio section starts here */
.projects {
  text-align: center;
}
.proj-img {
  width: 40%;
  min-width: 400px;
  padding: 10px;
}
.proj-img1 {
  width: 70%;
  min-width: 500px;
}
.projects img:hover {
  /* border: 1px solid #ffffff; */
  background-color: var(--purple);
  z-index: 100;
}
/* portfolio section ends here */

/* skill section starts here */
#skills ul {
  text-align: center;
}
#skills li {
  margin-bottom: 15px;
  font-weight: bold;
  list-style: none;
}
progress {
  width: 70%;
  height: 20px;
  color: var(--blue);
  background: #efefef;
}
progress::-webkit-progress-bar {
  background: #efefef;
}
progress::-webkit-progress-value {
  background: var(--blue);
} 
progress::-moz-progress-bar {
  color: var(--blue);
  background: #efefef;
}
/* skill section ends here */

/* contact form starts here */
#contact {
  margin-bottom: 40px;
}
form {
  margin: 0 auto;
  width: 70%;
}
.submit {
  background-color: var(--blue);
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.submit:hover {
  background-color: white;
  color: var(--blue);
}
textarea {
  height: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input, textarea {
  margin-bottom: 10px;
  font-size: 25px;
  padding: 15px 10px 10px;
  border: 1px solid var(--blue);
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
/* contact form ends here */

/* Responsiveness */
@media (width > 1450px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--blue);
  }
  .hamb{
      display: none;
  }
}
